body, input, button, label {
    font-size: 1.2em;
}
h1 {
    margin-bottom: 5px;
}
#searchInput {
    width: 260px;
}
button {


}
div {
    margin: 5px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
.result {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(246, 235, 222);
}
ul, li {
    margin: 0;
}
ul {
    margin-bottom: 6px;
}